/**
 *
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: "Noto Sans TC", sans-serif;
 *
 * @format
 */

:root {
    --primary-color: #51002e;
    --secondary-color: silver;
    --details-color: whitesmoke;
    --headin-font-family: "Otomanopee One", sans-serif;
    --default-font-family: "Noto Sans TC", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

.wrapper {
    background-image: url(/img/background-bikes.jpeg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--details-color);
}

.hero {
    padding: 140px 20px;
}

.hero h1,
h2 {
    font-family: var(--headin-font-family);
}

.hero h1 {
    color: var(--primary-color);
    font-size: 86px;
}

.hero h2 {
    font-size: 40px;
    margin-top: 200px;
}

.hero p {
    font-size: 24px;
    line-height: 2px;
}

.btn {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border-radius: 10px;
}

.btn:hover {
    color: var(--details-color);
}

.content .description {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.content h2 {
    color: var(--primary-color);
    font-size: 40px;
    margin-top: 90px;
}

.content img {
    max-width: 500px;
    height: auto;
}

.content p {
    font-size: 16px;
    line-height: 2;
    padding: 0 30px;
}